$primary-text-color: #212121;
$information-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-black-color: #000000;
$hero-bacground-color: rgba(47, 48, 58, 0.8);
$secondary-bacground-color: #f5f4fa;
$icon-grey: #afb1b8;
$footer-bacground-color: #2f303a;
$secondary-footer-text-color: rgba(255, 255, 255, 0.6);
$under-footer-text-color: rgba(255, 255, 255, 0.4);